h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
.success {
    text-align: center;
    color: blue;
    font-size: xx-large;
    margin: 25px 0;
}
.fail {
    text-align: center;
    color: red;
    font-size: xx-large;
    margin: 25px 0;
}
.letters {
    text-align: center;
}
.letters span {
    background-color: gray;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: larger;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 5px;
    display: inline-block;
}
.letters span:hover {
    background-color: black;
}
.show {
    text-align: center;
    font-size: x-large;
    margin-top: 10px;
}
.clue {
    text-align: center;
    font-size: larger;
    margin: 10px 0;
    color: goldenrod;
}
.lives {
    text-align: center;
    margin: 20px 0;
    font-size: larger;
}
.buttons {
    text-align: center;
    padding: 10px 0;
}
.pict {
    width: 50%;
    margin: auto;
}
.draw {
    border: 2px dashed gray;
    width: 70%;
    margin: 0 15%;
    height: 230px;
}
button {
    padding: 20px 0px;
    width: 150px;
    font-size: larger;
    margin: 5px;
}